header.display {
  height: 520px;
  width: 100%;
  padding-top: 150px;
  background-color: #3600e6;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}

header div {
  text-align: center;
  color: rgb(233, 222, 222);
}