.container {
  background-color: inherit;
}

form {
  margin: auto;
  margin-bottom: 20%;
}
 
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  height: 10vh;
  padding: .5em;
  font-weight: 600;
  font-size: 0.9em;
}

input[type=submit] {
  background-color: #4152A1;
  color: white;
  font-family: Bungee;
  text-align: left;
}

span.counter {
  float: right;
  color: black;
  margin-right: .2em;
  font-family: Bungee;
}

.error-message {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2vh;
  text-align: center;
  max-height: 3em;
  max-width: 30%;
  display: inherit;
  border: 2px solid red;
  background-color: transparent;
  padding: 1vh;
  color: black;
}
